@font-face {
  font-family: "Inter";
  font-weight: 900;
  src: url("assets/fonts/Inter/Inter-Black.otf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: italic, oblique;
  src: url("assets/fonts/Inter/Inter-BlackItalic.otf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 800;
  src: url("assets/fonts/Inter/Inter-ExtraBold.otf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 800;
  font-style: italic, oblique;
  src: url("assets/fonts/Inter/Inter-ExtraBoldItalic.otf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("assets/fonts/Inter/Inter-Bold.otf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: italic, oblique;
  src: url("assets/fonts/Inter/Inter-BoldItalic.otf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url("assets/fonts/Inter/Inter-SemiBold.otf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: italic, oblique;
  src: url("assets/fonts/Inter/Inter-SemiBoldItalic.otf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("assets/fonts/Inter/Inter-Medium.otf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: italic, oblique;
  src: url("assets/fonts/Inter/Inter-MediumItalic.otf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("assets/fonts/Inter/Inter-Regular.otf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: italic, oblique;
  src: url("assets/fonts/Inter/Inter-Italic.otf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 300;
  src: url("assets/fonts/Inter/Inter-Light.otf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 300;
  font-style: italic, oblique;
  src: url("assets/fonts/Inter/Inter-LightItalic.otf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 200;
  src: url("assets/fonts/Inter/Inter-ExtraLight.otf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 200;
  font-style: italic, oblique;
  src: url("assets/fonts/Inter/Inter-ExtraLightItalic.otf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 100;
  src: url("assets/fonts/Inter/Inter-Thin.otf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 100;
  font-style: italic, oblique;
  src: url("assets/fonts/Inter/Inter-ThinItalic.otf") format("truetype");
}
.root {
  -fx-font-family: "Inter";
}
.root:showcase-mode #sidebar {
  -fx-min-width: 0;
  -fx-pref-width: 0;
  -fx-max-width: 0;
  -fx-min-height: 0;
  -fx-pref-height: 0;
  -fx-max-height: 0;
  visibility: false;
}
.root:showcase-mode .page > .scroll-pane .user-content {
  -fx-padding: 0;
}
.root:showcase-mode .page > .scroll-pane .user-content > * {
  -fx-max-width: 4096px;
}
.root:showcase-mode .page .about {
  -fx-min-width: 0;
  -fx-pref-width: 0;
  -fx-max-width: 0;
  -fx-min-height: 0;
  -fx-pref-height: 0;
  -fx-max-height: 0;
  visibility: false;
}
.root:showcase-mode .page .credits {
  -fx-min-width: 0;
  -fx-pref-width: 0;
  -fx-max-width: 0;
  -fx-min-height: 0;
  -fx-pref-height: 0;
  -fx-max-height: 0;
  visibility: false;
}
.root:accent-primer-purple {
  -color-accent-0: #fbefff;
  -color-accent-1: #ecd8ff;
  -color-accent-2: #d8b9ff;
  -color-accent-3: #c297ff;
  -color-accent-4: #a475f9;
  -color-accent-5: #8250df;
  -color-accent-6: #6639ba;
  -color-accent-7: #512a97;
  -color-accent-8: #3e1f79;
  -color-accent-9: #2e1461;
  -color-accent-fg: #8250df;
  -color-accent-emphasis: #8250df;
  -color-accent-muted: rgba(194, 151, 255, 0.4);
  -color-accent-subtle: #fbefff;
}
.root:accent-primer-pink {
  -color-accent-0: #ffeff7;
  -color-accent-1: #ffd3eb;
  -color-accent-2: #ffadda;
  -color-accent-3: #ff80c8;
  -color-accent-4: #e85aad;
  -color-accent-5: #bf3989;
  -color-accent-6: #99286e;
  -color-accent-7: #772057;
  -color-accent-8: #611347;
  -color-accent-9: #4d0336;
  -color-accent-fg: #bf3989;
  -color-accent-emphasis: #bf3989;
  -color-accent-muted: rgba(255, 128, 200, 0.4);
  -color-accent-subtle: #ffeff7;
}
.root:accent-primer-coral {
  -color-accent-0: #fff0eb;
  -color-accent-1: #ffd6cc;
  -color-accent-2: #ffb4a1;
  -color-accent-3: #fd8c73;
  -color-accent-4: #ec6547;
  -color-accent-5: #c4432b;
  -color-accent-6: #9e2f1c;
  -color-accent-7: #801f0f;
  -color-accent-8: #691105;
  -color-accent-9: #510901;
  -color-accent-fg: #c4432b;
  -color-accent-emphasis: #c4432b;
  -color-accent-muted: rgba(253, 140, 115, 0.4);
  -color-accent-subtle: #fff0eb;
}
.root:dark:accent-primer-purple {
  -color-accent-0: #eddeff;
  -color-accent-1: #e2c5ff;
  -color-accent-2: #d2a8ff;
  -color-accent-3: #bc8cff;
  -color-accent-4: #a371f7;
  -color-accent-5: #8957e5;
  -color-accent-6: #6e40c9;
  -color-accent-7: #553098;
  -color-accent-8: #3c1e70;
  -color-accent-9: #271052;
  -color-accent-fg: #bc8cff;
  -color-accent-emphasis: #8957e5;
  -color-accent-muted: rgba(163, 113, 247, 0.4);
  -color-accent-subtle: rgba(163, 113, 247, 0.15);
}
.root:dark:accent-primer-pink {
  -color-accent-0: #ffdaec;
  -color-accent-1: #ffbedd;
  -color-accent-2: #ff9bce;
  -color-accent-3: #f778ba;
  -color-accent-4: #db61a2;
  -color-accent-5: #bf4b8a;
  -color-accent-6: #9e3670;
  -color-accent-7: #7d2457;
  -color-accent-8: #5e103e;
  -color-accent-9: #42062a;
  -color-accent-fg: #f778ba;
  -color-accent-emphasis: #bf4b8a;
  -color-accent-muted: rgba(219, 97, 162, 0.4);
  -color-accent-subtle: rgba(219, 97, 162, 0.15);
}
.root:dark:accent-primer-coral {
  -color-accent-0: #ffddd2;
  -color-accent-1: #ffc2b2;
  -color-accent-2: #ffa28b;
  -color-accent-3: #f78166;
  -color-accent-4: #ea6045;
  -color-accent-5: #cf462d;
  -color-accent-6: #ac3220;
  -color-accent-7: #872012;
  -color-accent-8: #640d04;
  -color-accent-9: #460701;
  -color-accent-fg: #f78166;
  -color-accent-emphasis: #cf462d;
  -color-accent-muted: rgba(234, 96, 69, 0.4);
  -color-accent-subtle: rgba(234, 96, 69, 0.15);
}

.bordered {
  -fx-border-width: 1px;
  -fx-border-color: -color-border-muted;
}
.toggle-button1{

  -fx-base: lightgreen;

}

#main .source-code {
  -fx-background-color: -color-bg-default;
  -fx-alignment: TOP_CENTER;
}
#main .source-code > .code-viewer {
  -fx-background-color: transparent;
  -fx-padding: 0 0 0 20px;
  -fx-max-width: 1000px;
}
#main .source-code > .code-viewer .web-view {
  -fx-padding: 0;
  -fx-background-color: transparent;
}

#header-bar {
  -fx-background-color: -color-accent-emphasis;
  -fx-padding: 0px 20px 0px 0;
  -fx-spacing: 30px;
}
#header-bar > .logo {
  -fx-padding: 0px 0 0px 10px;
}
#header-bar > .logo > .image {
  /*-fx-background-color: #DF6E57;*/
  -fx-background-radius: 6px;
}
#header-bar > .logo > .label {
  -fx-text-fill: -color-fg-emphasis;
}
#header-bar > .logo > .version {
  -fx-padding: -1em 0 0 0;
}
#header-bar > .text-field {
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-opacity: 0.85;
  -color-input-bg: -color-accent-emphasis;
  -color-input-bg-focused: -color-accent-emphasis;
  -color-input-fg: -color-fg-emphasis;
  -color-input-border: -color-fg-emphasis;
  -color-input-border-focused: -color-fg-emphasis;
  -fx-prompt-text-fill: -color-fg-emphasis;
}
#header-bar > .text-field .ikonli-font-icon {
  -fx-icon-color: -color-fg-emphasis;
  -fx-fill: -color-fg-emphasis;
}
#header-bar > .page-title {
  -fx-text-fill: -color-fg-emphasis;
  -fx-padding: 0 0 0 30px;
}
#header-bar > .ikonli-font-icon {
  -fx-icon-color: -color-fg-emphasis;
  -fx-fill: -color-fg-emphasis;
  -fx-icon-size: 20px;
}
#header-bar > .ikonli-font-icon:hover {
  -fx-effect: dropshadow(gaussian, -color-fg-emphasis, 20, 0.1, 0, 0);
}
#header-bar > .dev-mode-indicator {
  -fx-background-color: -color-warning-emphasis;
  -fx-text-fill: -color-fg-emphasis;
  -fx-background-radius: 10px;
  -fx-padding: 5px 10px 5px 10px;
}

#sidebar {
  -fx-border-color: -color-border-default;
  -fx-border-width: 0 1px 0 0;
}
#sidebar > .scroll-pane {
  -fx-background-color: -color-bg-inset;
  -fx-padding: 0 16px 10px 16px;
}
#sidebar:filtered > .scroll-pane {
  -fx-padding: 10px 16px 10px 16px;
}
#sidebar .nav-menu > .caption {
  -fx-padding: 18px 0 10px 0;
  -fx-font-weight: bold;
  -fx-text-fill: -color-fg-muted;
}
#sidebar .nav-menu > .nav-link {
  -fx-padding: 6px 8px 6px 8px;
}
#sidebar .nav-menu > .nav-link:hover {
  -fx-background-color: -color-accent-muted;
  -fx-background-radius: 6px;
}
#sidebar .nav-menu > .nav-link:selected {
  -fx-text-fill: -color-accent-fg;
  -fx-font-weight: bold;
}
/*下面样式为自定义样式，stackPane.getStyleClass().add("pane_opacity");使用，
目的是stackPane.setDisable(true)时，不丢失亮度和颜色，但是不能操作*/
.pane_opacity:disabled .label:disabled,

.pane_opacity:disabled .button:disabled,

.pane_opacity:disabled .toggle-button:disabled,

.pane_opacity:disabled .radio-button:disabled,

.pane_opacity:disabled .check-box:disabled,

.pane_opacity:disabled .hyperlink:disabled,

.pane_opacity:disabled .menu-button:disabled,

.pane_opacity:disabled .split-menu-button:disabled,

.pane_opacity:disabled .slider:disabled,

.pane_opacity:disabled .scroll-bar:disabled,

.pane_opacity:disabled .scroll-pane:disabled,

.pane_opacity:disabled .progress-bar:disabled,

.pane_opacity:disabled .progress-indicator:disabled,

.pane_opacity:disabled .text-input:disabled,

.pane_opacity:disabled .choice-box:disabled,

.pane_opacity:disabled .combo-box-base:disabled,

.pane_opacity:disabled .date-cell:disabled > *, /* This is set on children so border is not affected. */

.pane_opacity:disabled .list-view:disabled,

.pane_opacity:disabled .tree-view:disabled,

.pane_opacity:disabled .table-view:disabled,

.pane_opacity:disabled .tree-table-view:disabled,

.pane_opacity:disabled .tab-pane:disabled,

.pane_opacity:disabled .titled-pane:disabled > .title,

.pane_opacity:disabled .accordion:disabled > .titled-pane > .title,

.pane_opacity:disabled .tab-pane > .tab-header-area > .headers-region > .tab:disabled,

.pane_opacity:disabled .menu:disabled,

.pane_opacity:disabled .menu-item:disabled > .label,

.pane_opacity:disabled .menu-item:disabled,

.pane_opacity:disabled .list-cell:filled:selected:focused:disabled,

.pane_opacity:disabled .list-cell:filled:selected:disabled,

.pane_opacity:disabled .tree-cell:filled:selected:focused:disabled,

.pane_opacity:disabled .tree-cell:filled:selected:disabled,

.pane_opacity:disabled .tree-cell > .tree-disclosure-node:disabled,

.pane_opacity:disabled .tree-table-row-cell > .tree-disclosure-node:disabled,

.pane_opacity:disabled .table-row-cell:selected:disabled,

.pane_opacity:disabled .tree-table-row-cell:selected:disabled,

.pane_opacity:disabled .table-cell:selected:disabled,

.pane_opacity:disabled .tree-table-cell:selected:disabled {

  -fx-opacity: 1;

}
/*自定义样式结束*/

.overlay {
  -fx-background-color: transparent;
}
.overlay > .scroll-pane > .viewport > * > .scrollable-content {
  -fx-background-color: rgba(0, 0, 0, 0.5);
}

.overlay-dialog {
  -fx-background-color: -color-bg-default;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
  -fx-border-width: 1px;
  -fx-border-color: -color-border-default;
}
.overlay-dialog > .header {
  -fx-padding: 10px 5px 5px 20px;
}
.overlay-dialog > .footer {
  -fx-border-width: 1 0 0 0;
  -fx-border-color: -color-border-default;
  -fx-padding: 10px 20px 10px 20px;
}

.page > .scroll-pane {
  -fx-background-color: -color-bg-default;
}
.page > .scroll-pane .user-content {
  -fx-padding: 40px 0 40px 0;
  -fx-min-width: 860px;
}
.page > .scroll-pane .user-content > * {
  -fx-min-width: 900px;
  -fx-padding: 0px 50px 0px 50px;

}
.page.widget-collection {
  -fx-padding: 40px;
  -fx-min-width: 800px;
  -fx-max-width: 1200px;
}
.page.widget-collection > .toc {
  -fx-pref-width: 150px;
  -color-cell-bg-selected: -color-cell-bg;
  -color-cell-fg-selected: -color-accent-fg;
}
.page.widget-collection > .toc .list-cell:filled {
  -fx-border-width: 0 0 0 2;
  -fx-border-color: -color-border-muted;
}
.page.widget-collection > .toc .list-cell:selected {
  -color-cell-fg: -color-cell-fg-selected;
  -fx-border-color: -color-accent-emphasis;
}

.sample-block {
  -fx-background-color: -color-bg-default;
  -fx-effect: dropshadow(gaussian, -color-shadow-default, 10, 0.4, 0, 0);
  -fx-border-color: -color-border-muted;
  -fx-border-width: 1px;
  -fx-padding: 15px 20px 15px 20px;
  -fx-spacing: 20px;
  -fx-min-width: 220px;
}
.sample-block > .title > .label {
  -fx-padding: 5px 15px 5px 10px;
  -fx-background-color: -color-accent-subtle;
  -fx-text-fill: -color-fg-default;
  -fx-font-size: 1.1em;
}
.sample-block > .title > .polygon {
  -fx-fill: -color-accent-muted;
}

#color-palette {
  -fx-spacing: 20px;
  -fx-background-color: -color-bg-default;
}
#color-palette > .grid {
  -fx-vgap: 20px;
  -fx-hgap: 40px;
}
#color-palette > .grid > .block {
  -fx-spacing: 5px;
}
#color-palette > .grid > .block > .rectangle {
  -fx-min-width: 12em;
  -fx-min-height: 5em;
  -fx-max-width: 12em;
  -fx-max-height: 5em;
  -fx-cursor: hand;
}
#color-palette > .grid > .block > .rectangle:passed > .contrast-level-label {
  -fx-background-color: #388e3c;
}
#color-palette > .grid > .block > .rectangle > .contrast-level-label {
  -fx-text-fill: white;
  -fx-background-color: #ef5350;
  -fx-background-radius: 6px;
  -fx-padding: 3px;
}
#color-palette > .grid > .block > .rectangle > .contrast-level-label > .ikonli-font-icon {
  -fx-fill: white;
  -fx-icon-color: white;
}

#color-scale {
  -fx-spacing: 20px;
  -fx-background-color: -color-bg-default;
}
#color-scale > .table > .column > .cell {
  -fx-text-fill: -color-fg-default;
  -fx-font-size: 1.1em;
  -fx-padding: 0 0 0 10px;
}

.contrast-checker {
  -fx-background-color: -color-contrast-checker-bg;
  -fx-hgap: 40px;
  -fx-vgap: 20px;
  -fx-padding: 20px;
}
.contrast-checker .label {
  -fx-text-fill: -color-contrast-checker-fg;
}
.contrast-checker .text-field {
  -color-input-bg: transparent;
  -color-input-fg: -color-contrast-checker-fg;
  -color-input-border: transparent;
  -color-input-bg-focused: transparent;
  -color-input-border-focused: transparent;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-border-color: -color-contrast-checker-fg;
  -fx-border-width: 0 0 1 0;
}
.contrast-checker .button {
  -color-button-bg: transparent;
  -color-button-fg: -color-contrast-checker-fg;
  -color-button-border: transparent;
  -color-button-bg-hover: transparent;
  -color-button-fg-hover: -color-contrast-checker-fg;
  -color-button-border-hover: transparent;
  -color-button-bg-focused: transparent;
  -color-button-fg-focused: -color-contrast-checker-fg;
  -color-button-border-focused: transparent;
  -color-button-bg-pressed: transparent;
  -color-button-fg-pressed: -color-contrast-checker-fg;
  -color-button-border-pressed: transparent;
}
.contrast-checker .button:armed, .contrast-checker .button:focused:armed {
  -fx-border-color: transparent;
}
.contrast-checker .slider > .thumb {
  -color-slider-thumb: -color-contrast-checker-fg;
  -color-slider-thumb-border: -color-contrast-checker-fg;
}
.contrast-checker .slider > .track {
  -color-slider-track: -color-contrast-checker-fg;
  -fx-opacity: 0.5;
}
.contrast-checker .ikonli-font-icon {
  -fx-icon-color: -color-contrast-checker-fg;
  -fx-fill: -color-contrast-checker-fg;
}
.contrast-checker .contrast-ratio {
  -fx-padding: 0 40px 0 0;
}
.contrast-checker .contrast-ratio > .large-font {
  -fx-font-size: 4em;
}
.contrast-checker .contrast-ratio > .ratio {
  -fx-font-size: 2em;
}
.contrast-checker .contrast-level > .state {
  -fx-padding: 0.5em 1em 0.5em 1em;
  -fx-background-color: #ef5350;
  -fx-background-radius: 4px;
  -fx-text-fill: white;
}
.contrast-checker .contrast-level > .state:passed {
  -fx-background-color: #388e3c;
}
.contrast-checker .contrast-level > .state > .ikonli-font-icon {
  -fx-fill: white;
  -fx-icon-color: white;
}
.contrast-checker > .actions > .button {
  -fx-border-width: 1px;
  -fx-border-color: -color-contrast-checker-fg;
  -fx-border-radius: 4px;
}
.contrast-checker .context-menu {
  -fx-background-color: -color-border-muted, -color-bg-default;
}
.contrast-checker .context-menu > .label {
  -fx-text-fill: -color-fg-default;
}

.contrast-checker-dialog {
  -color-dialog-bg: white;
  -color-dialog-fg: black;
  -fx-border-color: -color-dialog-bg;
}
.contrast-checker-dialog > .header {
  -fx-background-color: -color-dialog-bg;
}
.contrast-checker-dialog > .header > .title {
  -fx-text-fill: -color-dialog-fg;
}
.contrast-checker-dialog > .header > .close-button {
  -color-button-fg: -color-dialog-fg;
  -color-button-bg-hover: derive(-color-dialog-bg, 30%);
  -color-button-border-hover: transparent;
  -color-button-border-focused: transparent;
}

.color-selector {
  -color-primary: -color-accent-emphasis;
  -fx-spacing: 1em;
}
.color-selector > .color-button > .icon {
  -fx-min-width: 1em;
  -fx-pref-width: 1em;
  -fx-max-height: 1em;
  -fx-min-width: 1em;
  -fx-pref-height: 1em;
  -fx-max-height: 1em;
  -fx-background-color: -color-primary;
}

#quick-config-menu {
  -fx-min-width: 200px;
}
#quick-config-menu .row {
  -fx-padding: 6px;
  -fx-background-radius: 4px;
}
#quick-config-menu .action:hover {
  -fx-background-color: -color-bg-subtle;
}
#quick-config-menu .radio > .ikonli-font-icon {
  visibility: hidden;
}
#quick-config-menu .radio:selected > .ikonli-font-icon {
  visibility: visible;
}

#theme-repo-manager {
  -fx-padding: 10px 20px 10px 20px;
  -fx-spacing: 10px;
}
#theme-repo-manager > .info {
  -fx-background-color: -color-accent-subtle;
  -fx-padding: 0.5em;
  -fx-border-width: 1px;
  -fx-border-color: -color-accent-muted;
}
#theme-repo-manager > .info > .label {
  -fx-text-fill: -color-accent-fg;
}

#theme-repo-manager > .warn {
   -fx-background-color: -color-warning-subtle;
   -fx-padding: 0.5em;
   -fx-border-width: 1px;
   -fx-border-color: -color-warning-muted;
 }
#theme-repo-manager > .warn > .label {
  -fx-text-fill: -color-warning-fg;
}

#theme-repo-manager .scroll-pane {
  -fx-border-width: 1px;
  -fx-border-color: -color-border-muted;
}
#theme-repo-manager .theme-list {
  -fx-padding: 10px;
  -fx-spacing: 5px;
}
#theme-repo-manager .theme-list > .theme {
  -fx-spacing: 10px;
  -fx-min-height: 3em;
  -fx-padding: 10px;
}
#theme-repo-manager .theme-list > .theme:hover {
  -fx-background-color: -color-bg-subtle;
}
#theme-repo-manager .theme-list > .theme:selected > .title > .text {
  -fx-fill: -color-accent-fg;
}
#theme-repo-manager .theme-list > .theme > .title > .sub-text {
  -fx-fill: -color-fg-muted;
}
#theme-repo-manager .theme-list > .theme > .preview > .label {
  -fx-alignment: CENTER;
  -fx-font-size: 1.2em;
  -fx-min-width: 2em;
  -fx-pref-width: 2em;
  -fx-max-width: 2em;
  -fx-min-height: 2em;
  -fx-pref-height: 2em;
  -fx-max-height: 2em;
}
#theme-repo-manager .theme-list > .theme > .controls {
  -fx-min-width: 4em;
  -fx-pref-width: 4em;
  -fx-max-width: 4em;
}

#theme-repo-manager-dialog {
  -fx-min-width: 800px;
  -fx-pref-width: 800px;
  -fx-min-height: 500px;
  -fx-max-height: 500px;
}
#proxy-settings-dialog {
  -fx-min-width: 800px;
  -fx-pref-width: 800px;
  -fx-min-height: 600px;
  -fx-max-height: 600px;
}

.html-editor:use-local-url .color-picker.html-editor-foreground {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Text-Color.png");
}
.html-editor:use-local-url .color-picker.html-editor-background {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Background-Color.png");
}
.html-editor:use-local-url .html-editor-cut {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Cut.png");
}
.html-editor:use-local-url .html-editor-copy {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Copy.png");
}
.html-editor:use-local-url .html-editor-paste {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Paste.png");
}
.html-editor:use-local-url .html-editor-align-left {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Left.png");
}
.html-editor:use-local-url .html-editor-align-center {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Center.png");
}
.html-editor:use-local-url .html-editor-align-right {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Right.png");
}
.html-editor:use-local-url .html-editor-align-justify {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Justify.png");
}
.html-editor:use-local-url .html-editor-outdent {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Outdent.png");
}
.html-editor:use-local-url .html-editor-outdent:dir(rtl) {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Outdent-rtl.png");
}
.html-editor:use-local-url .html-editor-indent {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Indent.png");
}
.html-editor:use-local-url .html-editor-indent:dir(rtl) {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Indent-rtl.png");
}
.html-editor:use-local-url .html-editor-bullets {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Bullets.png");
}
.html-editor:use-local-url .html-editor-bullets:dir(rtl) {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Bullets-rtl.png");
}
.html-editor:use-local-url .html-editor-numbers {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Numbered.png");
}
.html-editor:use-local-url .html-editor-numbers:dir(rtl) {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Numbered-rtl.png");
}
.html-editor:use-local-url .html-editor-bold {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Bold.png");
}
.html-editor:use-local-url .html-editor-italic {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Italic.png");
}
.html-editor:use-local-url .html-editor-underline {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Underline.png");
}
.html-editor:use-local-url .html-editor-strike {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Strikethrough.png");
}
.html-editor:use-local-url .html-editor-hr {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Break.png");
}

.root:dark .html-editor:use-local-url .color-picker.html-editor-foreground {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Text-Color-White.png");
}
.root:dark .html-editor:use-local-url .color-picker.html-editor-background {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Background-Color-White.png");
}
.root:dark .html-editor:use-local-url .html-editor-cut {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Cut-White.png");
}
.root:dark .html-editor:use-local-url .html-editor-copy {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Copy-White.png");
}
.root:dark .html-editor:use-local-url .html-editor-paste {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Paste-White.png");
}
.root:dark .html-editor:use-local-url .html-editor-align-left {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Left-White.png");
}
.root:dark .html-editor:use-local-url .html-editor-align-center {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Center-White.png");
}
.root:dark .html-editor:use-local-url .html-editor-align-right {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Right-White.png");
}
.root:dark .html-editor:use-local-url .html-editor-align-justify {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Justify-White.png");
}
.root:dark .html-editor:use-local-url .html-editor-outdent {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Outdent-White.png");
}
.root:dark .html-editor:use-local-url .html-editor-outdent:dir(rtl) {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Outdent-White-rtl.png");
}
.root:dark .html-editor:use-local-url .html-editor-indent {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Indent-White-White.png");
}
.root:dark .html-editor:use-local-url .html-editor-indent:dir(rtl) {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Indent-White-rtl.png");
}
.root:dark .html-editor:use-local-url .html-editor-bullets {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Bullets-White.png");
}
.root:dark .html-editor:use-local-url .html-editor-bullets:dir(rtl) {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Bullets-White-rtl.png");
}
.root:dark .html-editor:use-local-url .html-editor-numbers {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Numbered-White.png");
}
.root:dark .html-editor:use-local-url .html-editor-numbers:dir(rtl) {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Numbered-White-rtl.png");
}
.root:dark .html-editor:use-local-url .html-editor-bold {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Bold-White.png");
}
.root:dark .html-editor:use-local-url .html-editor-italic {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Italic-White.png");
}
.root:dark .html-editor:use-local-url .html-editor-underline {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Underline-White.png");
}
.root:dark .html-editor:use-local-url .html-editor-strike {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Strikethrough-White.png");
}
.root:dark .html-editor:use-local-url .html-editor-hr {
  -fx-graphic: url("/atlantafx/sampler/images/modena/HTMLEditor-Break-White.png");
}
.title-button {
  -fx-opacity: 0.75;
  -fx-background-radius: 0;
  -fx-padding: 5px 15px 5px 15px;
}

/*  鼠标移入获得焦点 */
.title-button:hover {
  -fx-opacity: 1;
  -fx-background-color: -color-border-default;
}
/*鼠标点击事件颜色*/
/*
.my-button:pressed {
  -fx-background-color: #FFDAB9; /* maybe some other color */
/*
}
*/
.title-close-button {
  -fx-opacity: 0.75;
  -fx-background-radius: 0;
  -fx-padding: 5px 15px 5px 15px;
}

/*  鼠标移入获得焦点 */
.title-close-button:hover {
  -fx-opacity: 1;
  -fx-background-color: red;
}
